/* Fêtes de Lili Prefered Styles */
.announcement-bar {
  display: block;
  text-align: center;
  position: relative;
  background-color: #dfb5bb
}

.announcement-bar__message {
  font-size: 24px;
  font-family: 'Arapey', serif;
  padding: 10px 30px;
  color: #444444
}

.centered_logo {
  width: 165px;
  height: 166px;
  margin: 0 auto;
  display: block;
}

/* The hero image Styles */
body,
html {
  height: 100%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/EasterTablepexels-fu-zhichao-587741\ copy.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 15px;
}


/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  color: white;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Arapey', serif;
  color: #1f2021;
  font-weight: 400;
  font-style: normal;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* To add space between each navigation item you add margin */
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: rgba(22, 21, 21, 0.667);
  font-weight: 400;
  padding: 15px;
}



p {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-center {
  text-align: center;
  padding: 15px;
}

.subscribe-button {
  /* this is the box model */
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  /* height and width will not  allow for button to expand with text */
  /* better to use padding */
  /* this is the box model */
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  /* when you want to change the pointer to be a little hand, you use the cursor property */
  cursor: pointer;
  /* transition is done to make the button change a effects smoothly when you are applying styles */
  /* here the transition is used with opacity, sometimes it can be with background-color or others */
  transition: opactiy 0.15s;
}

/* to apply an effect when hovering over the button, use hover pseudo class */
/* a pseudo class is a property happening when a specic action is taken and it's added to a class */

.subscribe-button:hover {
  /* Opacity is used to make the button a little lighter */
  /* opacity goes from 0 to 1 */
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5
}

.buy-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 207, 214);
  border-style: solid;
  /* to assign a text color the property name is just color */
  color: rgb(255, 207, 214);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: rgb(255, 207, 214);
  color: white;
}

.buy-button:active {
  opacity: 0.7;
}


/* Styles for the product list */
.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.feature-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.feature-row__item {
  flex: 0 1 50%;
}

.feature-row__text {
  padding-top: 35px;
  padding-bottom: 35px;
}

.feature-row__text--left {
  padding-left: 35px;
}

.feature-row__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.feature-row__image-wrapper {
  position: relative;
}

img {
  max-width: 100%;
}

.product-category-row {
  column-gap: 20px;
}

/* styles that apply to both products */
.product-category {
  background-size: cover;
  height: 310px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling background picture for Kid Parties */
.product-category-kids-parties {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/birthdaycupcakes.jpg");
}

.product-category-kids-parties:hover {
  /* Opacity is used to make the button a little lighter */
  /* opacity goes from 0 to 1 */
  opacity: 0.8;
}

.product-category-kids-parties:active {
  opacity: 0.5
}

/* styling background picture for Entertaining */
.product-category-entertaining {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/FallAppetizrspexels-askar-abayev-5638331.jpg");
  transition: opactiy 0.15s;
}

.product-category-entertaining:hover {
  /* Opacity is used to make the button a little lighter */
  /* opacity goes from 0 to 1 */
  opacity: 0.8;
}

.product-category-entertaining:active {
  opacity: 0.5
}

.product-title {
  margin: 0 auto;
  text-align: center;
  font-size: 2.125em;
  font-style: italic;
  line-height: 1.1;
}


/* To make responsive when the window is less than 768px, make it wrap and goes into single column */
@media (max-width: 768px) {
  .feature-row {
    flex-wrap: wrap;
  }

}